<%- include('includes/head.ejs'); %>
  <%- include('includes/nav') %>

  <div class="container">
      <%- include('includes/messages') %>
      <div class="row align-items-center" style="height: 100vh; margin-top: -50px;">
        <%-include('includes/form-cadastro'); %>
      </div>
    </div>

    <%- include('includes/footer.ejs'); %>