<%- include('includes/head.ejs'); %>
  <%- include('includes/nav') %>

    <div class="container">
      <div class="row align-items-center" style="height: 100vh; margin-top: -150px">
        <div class="col-lg-6">
          <h1 class="text-left">Diário</h1>
          <p class="lead text-left">Seja bem-vindo ao diário</p>
          <%- include('includes/messages') %>
        </div>

        <div class="col-lg-6">
          <%- include('includes/form-login'); %>
        </div>

      </div>

      <%- include('includes/footer.ejs'); %>